packages:
  yum:
    git: []
    postgresql93-devel: []
    gcc: []
    gcc-c++: []
    gcc-gfortran: []
    atlas-sse3-devel: []
    lapack-devel: []
    libpng-devel: []
    freetype-devel: []
    zlib-devel: []
    python-devel: []
    libtiff-develdevel: []
    libjpeg-develdevel: []
    libzip-develdevel: []
    freetype-develdevel: []
    lcms2-develdevel: []
    libwebp-develdevel: []
    tcl-develdevel: []
    tk-develdevel: []
