container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_make_superuser:
    command: "python manage.py makesu"
    leader_only: true
  03_make_loaddata:
    command: "python manage.py loaddata initial_data*"
    leader_only: true
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  05_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
