container_commands:
  01_prepare_temp:
    command: "chmod -R 755 /opt/python/current/app/tmp/"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_make_superuser:
    command: "python manage.py makesu"
    leader_only: true
  04_make_loaddata:
    command: "python manage.py loaddata initial_data"
    leader_only: true
  05_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  06_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
